/* Body */
body {
    /* display and box model */
    margin: 0;
    padding: 0;

    /* color */
    background: #f7f7f7;

    /* text */
    font-family: Helvetica, Tahoma, sans-serif;
}

/* Scrollbar */
div-webkit-scrollbar * {
    background:transparent;
}
div-webkit-scrollbar-thumb {
    background:#999 !important;
}

/* Modal */
.modal {
    /* display and position */
    display: none; /* hidden by default */
    position: fixed;
    overflow: auto;
    left: 0;
    top: 0;

    /* size */
    width: 100%;
    height: 100%;

    /* stacking */
    z-index: 1; /* stays on top of rest of the page */

    /* color */
    background-color: rgb(0, 0, 0); /* fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* 4th argument is the opacity */
}

.modalContent {
    /* color */
    background: #f0f0f0;

    /* box model */
    margin: auto;
    padding: 20px;

    /* display */
    width: 60%;
    max-height: 50%;

    /* vertically and horizontally center */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* flexbox */
    display: flex;
    flex-direction: column;
}

.modalFlex {
    /* flexbox */
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.modalFlex .noteNum {
    /* text */
    font-size: 1.5em;
    color: #424242;

    /* box model */
    margin-right: 20px;

    /* flexbox */
    flex-grow: 4;
}

.modalFlex .date {
    /* text */
    color: #969696;
    font-size: 1em;

    /* box model */
    margin-right: 10px;
}

.modalFlex button {
    /* flexbox */
    flex-basis: 5rem;

    /* display and box model */
    margin: 0 5px;
    padding: 7px 10px 6px 10px;
    border: none;
    border-radius: 10px;
    
    /* color */
    background: #ff6905;
    color: #f7f7f7;
    border-radius: 10px;
    text-align: center;
    padding: 7px 10px 6px 10px;

    /* text */
    font-size: 18px;
    text-align: center;
}

.modalFlex button:focus {
    outline: none;
}

.modalFlex button:hover {
    background: #ff8b3d;
}

.xButton {
    /* Box model */
    margin-left: 10px;
    margin-right: 1px;

    /* text */
    color: #424242;
    font-size: 25px;
    font-family: Verdana;
    font-weight: normal;

    /* cursor */
    cursor: default;
}

.xButton:hover {
    /* color */
    color: #ff6905;
}

.textContainer {
    /* text */
    font-size: 1.3rem;
    font-weight: lighter;

    /* box model */
    margin-top: 20px;
    border: 1px solid #969696;
    border-radius: 10px;
    padding: 10px;

    /* flexbox */
    flex: 1;

    /* scroll */
    overflow: overlay;
}

/* Header */
header {
    /* display and box model */
    height: 100px;

    /* color */
    background: #ff6905;
}

header h1 {
    /* display and box model */
    margin: 0;
    padding: 29px 0;

    /* color */
    color: #f7f7f7;

    /* text */
    font-size: 35px;
    font-weight: lighter;
    text-align: center;
    letter-spacing: 15px;
}

/* input container */
#inputContainer {
    /* display and box model */
    margin: 30px auto;
    width: 40%;
}

/* input header and submit button */
#inputHeader {
    /* diplay and box model */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

#inputHeader span {
    /* text and color */
    font-size: 25px;
    color: #424242;
}

#inputHeader button {
    /* display and box model */
    padding: 7px 10px 6px 10px;
    border: none;
    border-radius: 10px;
    
    /* color */
    background: #ff6905;
    color: #f7f7f7;
    border-radius: 10px;
    text-align: center;
    padding: 7px 10px 6px 10px;

    /* text */
    font-size: 18px;
    text-align: center;
}

#inputHeader button:focus {
    outline: none;
}

#inputHeader button:hover {
    background: #ff8b3d;
}

#textarea {
    /* display and box model */
    box-sizing: border-box;
    margin: 20px 0;
    border: 1px solid #424242;
    border-radius: 15px;
    padding: 10px;
    height: 150px;

    /* color */
    background: #f9f9f9;

    /* other */
    overflow: overlay;
}

#textarea:focus {
    outline: none;
}

/* notes container (grid) */
#notesContainer {
    /* display and box model */
    margin: auto;
    width: 85%;

    /* grid */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: 150px;
    grid-gap: 1rem;
}

#notesContainer > div {
    /* display and box model */
    padding: 1.5rem;
    border-radius: 1rem;

    /* color */
    background: #f0f0f0;
    color: #424242;
}

.noteFlex {
    /* flexbox */
    display: flex;
    flex-flow: row-reverse nowrap;
    align-items: center;
}

.noteFlex .date {
    /* text and color */
    color: #969696;
    font-size: 0.8em;
}

.lineClamp {
    /* line clamping */
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;

    /* text */
    font-size: 1.5em;

    /* box model */
    margin: 0.5em 0;
}